<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="DB2Tables" targetRuntime="MyBatis3" defaultModelType="flat">
        <plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <property name="searchString" value="[e|E]xample$"/>
            <property name="replaceString" value="Criteria"/>
        </plugin>
        <plugin type="com.e8wow.mybatis.plugin.PaginationPlugin"/>

        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/e8wow"
                        userId="root"
                        password="Lhc.8507981168">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- generate Model -->
        <javaModelGenerator targetPackage="com.e8wow.entity"
                            targetProject="${entity.target.dir}">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>


        <!-- 自动生成xml（但是好像一直没有生成功，反正也不用xml） -->
        <sqlMapGenerator targetPackage="com.e8wow.mapper"
                         targetProject="${dao.resources.dir}">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- 自动生成mapper接口, 可以是 ANNOTATEDMAPPER(注解), XMLMAPPER(xml), MIXEDMAPPER(不知道) -->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.e8wow.mapper"
                             implementationPackage="com.e8wow.mapper.impl"
                             targetProject="${entity.target.dir}">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="e8_user" domainObjectName="User">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
            <columnOverride column="role" javaType="com.e8wow.enumeration.Role" jdbcType="VARCHAR"/>
        </table>
        <table tableName="e8_oss_asset" domainObjectName="OSSAsset">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="zoe_blog" domainObjectName="Blog">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="zoe_blog_asset" domainObjectName="BlogAsset">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="zoe_blog_group" domainObjectName="BlogGroup">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>
    </context>
</generatorConfiguration>